
* {
margin: 0px;
padding: 0px;
overflow-x:hidden;
}

/*Header*/

.header {
    height: 75px;
    width: 100%;
    background: #d1d1d1;
    color: #000;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.header__text {
    text-align: center;
}

.header__menu {
    display: flex;
    align-items: center;
}
/*
.header__item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}
*/

.header__cursor {
    cursor: pointer;
}

.header__left {
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 5px;
}

.header__right {
    font-size: 20px;
    padding: 5px;
    margin-right: 30px;
}

.header__menu :hover {
    background-color: #9A9A9A;
    border-radius: 5px;
    border-bottom: 3px solid #000;
}


/* -а */

.whyx2{
    color: #000;
    text-decoration: none;
    font-size: 25px;
}

/*Table*/

table {
    width: 75%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 10px;
}

th {
    text-align: left;
}

.table1 tr:nth-child(even){
    background-color: #CACACA;
}

.table1 tr:nth-child(odd){
    background-color: #d9d9d9;
}




body {
    background-color: #D1D1D1;
}

.didiv {
    height: 50px;
    text-align: left;
    padding: 10px;
    background-color: #BEBEBE;
    font-size: 18px;
}

.didiv2 {
    height: 50px;
    text-align: left;
    padding: 10px;
    background-color: #BEBEBE;
    font-size: 18px;
}

.fodid {
    height: 150px;
    text-align: left;
    padding: 10px;
    background-color: #BEBEBE;
    font-size: 18px;
}


/*ТАБЛИЦА 2*/
/*1*/
.red-blue th:nth-child(even){
    background-color: red;
}

.red-blue th:nth-child(odd){
    background-color: blue;
}
/*2*/
.yellow-purple th:nth-child(even){
    background-color: yellow;
}

.yellow-purple th:nth-child(odd){
    background-color: purple;
}
/*3*/
.gray-aqua th:nth-child(even){
    background-color: aqua;
}

.gray-aqua th:nth-child(odd){
    background-color: gray;
}
/*4*/
.pink-brown th:nth-child(even){
    background-color: brown;
}

.pink-brown th:nth-child(odd){
    background-color: pink;
}
/*5*/
.orange-rebeccapurple th:nth-child(even){
    background-color: orange;
}

.orange-rebeccapurple th:nth-child(odd){
    background-color: rebeccapurple;
}


/*new*/

/*1*/
.blue-blue {
    background-color: blue;
}
/*2*/
.burlywood {
    background-color: burlywood;
}
/*3*/
.royalblue {
    background-color: royalblue;
}
/*4*/
.goldenrod{
    background-color: goldenrod;
}
/*5*/
.red-red {
    background-color: red;
}
/*new*/


/*1*/
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.skyblue {
    background-color: skyblue;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}


/*2*/

.why1 {
    background-color: #73CA24;
}
.why2 {
    background-color: #6A2481;
}
.why3 {
    background-color: #BF2B33;
}
.why4 {
    background-color: #AC9EAA;
}
.why5 {
    background-color: #216FF5;
}
.why6 {
    background-color: #37CCCE;
}
.why7 {
    background-color: #688260;
}


/*last*/

.random th:nth-child(even){
    background-color: #DB007B;
}

.random th:nth-child(odd){
    background-color: #12E4BC;
}